body {
    font-family: Jetbrains mono;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #5fe213;
    margin: 0;
}
.container {
    text-align: center;
    background: rgb(0, 0, 0);
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 25px rgba(72, 72, 72, 0.392);
}
.container h1 {
    margin-bottom: 1rem;
    color: #5fe213;
}
.container p {
    margin-bottom: 2rem;
    color: #ffffff;
}
.container a {
    text-decoration: none;
    color: #fff;
    background-color: #3d3e3d;
    padding: 0.5rem 1rem;
    border-radius: 5px;
}
.container a:hover {
    background-color: #09f30db8;
}