/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Jetbrains mono,Hack;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
    line-height: 2.3;
    
}

header {
    background-color: #0f0; /* Dark green */
    color: rgb(0, 0, 0);
    padding: 1rem 0;
    text-align: center;
}

header h1 {
    margin-bottom: 0.5rem;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin: 0 1rem;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    
}

nav ul li a:hover {
    text-decoration: underline;
    
}

main {
    padding: 2rem;
    background-color: #081a00; /* Very dark green */
}

section {
    margin-bottom: 2rem;
}

section h2 {
    color: #0f0; /* Bright green */
    margin-bottom: 1rem;
}

footer {
    background-color: #13f41aba; /* Dark green */
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 0.5rem 0;
    position: absolute;
    width: 100%;
    bottom: 0;
}