* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jetbrains mono', 'Hack';
  }
  
  body {
    background: #000000;
    overflow: hidden;
    justify-content: center;
    align-items: center;
  }
  
  .container {
    max-width: 550px;
    padding: 0 20px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .wrapper {
    width: 120%;
    background: #302f2f90;
    border-radius: 5px;
    box-shadow: 0px 4px 10px 1px rgba(0, 0, 0, 0.1);
    margin-top: 150px; /* decreased margin-top to adjust for signup form */
  }
  
  .wrapper .title {
    height: 90px;
    background: #0f0;
    border-radius: 5px 5px 0 0;
    color: #000000;
    font-size: 30px;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .wrapper form {
    padding: 30px 25px 25px 25px;
  }
  
  .wrapper form .row {
    height: 45px;
    margin-bottom: 15px;
    position: relative;
  }
  
  .wrapper form .row input {
    height: 100%;
    width: 100%;
    outline: none;
    padding-left: 60px;
    border-radius: 5px;
    border: 1px solid rgba(6, 166, 14, 0.557);
    font-size: 16px;
    transition: all 0.3s ease;
  }
  
  form .row input:focus {
    border-color: #3abb06;
    box-shadow: inset 0px 0px 2px 2px rgba(26, 188, 39, 0.25);
  }
  
  form .row input::placeholder {
    color: #090909;
    font-family: 'Poppins', sans-serif;
  }
  
  .wrapper form .row i {
    position: absolute;
    width: 47px;
    height: 100%;
    color: #000000;
    font-size: 18px;
    background: #0f0;
    border: 1px solid #0f0;
    border-radius: 5px 5 0 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .wrapper form .button input {
    color: #000000;
    font-size: 20px;
    font-weight: 500;
    padding-left: 0px;
    background: #0f0;
    border: 1px solid #010000;
    cursor: pointer;
  }
  
  form .button input:hover {
    background: #07e42c88;
  }
  
  .wrapper form .signin-link {
    text-align: center;
    margin-top: 20px;
    font-size: 17px;
    color: rgb(255, 255, 255);
  }
  
  .wrapper form .signin-link a {
    color: #0f0;
    text-decoration: none;
  }
  
  form .signin-link a:hover {
    text-decoration: underline;
  }
  